.next {
    position: relative;
    line-height: 39px;
    font-weight: 600;
}
.next-wrapper {
    position: absolute;
    top: 802px;
    left: calc(50% - 78px);
    border-radius: 100px;
    background-color: #000;
    width: 156px;
    height: 55px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 34px;
    box-sizing: border-box;
    font-family: 'Neulis Alt-Regular';
    font-size: 20.34px;
    cursor: pointer;

}
.ending-7-child {
    position: absolute;
    top: 29px;
    left: 0px;
    width: 430px;
    height: 773px;
}
.frame-child {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 761px;
}
.frame-item {
    position: absolute;
    top: 289px;
    left: 46px;
    width: 359px;
    height: 186px;
}
.frame-inner {
    position: absolute;
    top: 493px;
    left: calc(50% - 176px);
    width: 352px;
    height: 87px;
}
.frame-div {
    position: absolute;
    top: 475px;
    left: 46px;
    width: 349px;
    height: 0px;
}
.urclubatru-designs-wallpaper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 95.9px;
    height: 108.4px;
    object-fit: cover;
}
.ellipse {
    position: absolute;
    top: 77px;
    left: 109px;
    border-radius: 50%;
    background-color: #fcf8f6;
    width: 96px;
    height: 96px;
}
.urclubatru-designs-wallpaper-parent {
    position: absolute;
    top: 98px;
    /* left: 246px; */
    left: calc(50% - 102.5px + 150px);

    width: 205px;
    height: 173px;
}
.frame-child1 {
    position: absolute;
    top: 109px;
    left: 45px;
    width: 51px;
    height: 193px;
}
.div {
    align-self: stretch;
    position: relative;
    line-height: 192.85px;
    font-weight: 600;
    display: inline-block;
    height: 154px;
    flex-shrink: 0;
}
.parent {
    position: absolute;
    top: 152px;
    /* left: calc(50% - 178.75px + 45px); */
    left: calc(50% - 178.75px);

    width: 357.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.frame-parent {
    position: absolute;
    top: 15px;
    left: 0px;
    width: 100%;
    height: 773px;
    text-align: left;
    font-size: 130px;
    color: #fcf8f6;
}
.ending-7 {
    width: 430px;
    position: relative;
    background-color: #fcf8f6;
    height: 932px;
    overflow: hidden;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: 'Neulis Alt-Regular';
}
.content-wrapper {
    position: absolute;
    top: 160px;
    left: calc(50% + 20px);
    transform: translateX(-50%);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  

  
  .cultural {
    position: absolute;
    top: 50px;
    left: 0px;
    line-height: 105.73px;
    display: inline-block;
    width: 358px;
    height: 84px;
    font-family: 'Neulis Alt';
    font-size: 60px;

    }


.insert-club-title-1, .insert-club-title-2 {
    margin-left: -30px;
    width: 355px;
    position: relative;
    font-size: 26.74px;
    /* letter-spacing: 0px; */
    line-height: 31.42px;
    font-weight: 600;
    font-family: 'Neulis Alt-Regular';
    color: #fff;
    text-align: left;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;

}
.lorem-ipsum-dolor-1, .lorem-ipsum-dolor-2 {
    margin-left: -30px;

    width: 345px;
    position: relative;
    font-size: 13.37px;
    /* letter-spacing: 0px; */
    line-height: 19.39px;
    font-weight: 600;
    font-family: 'Neulis Alt-Regular';
    color: #000;
    text-align: left;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 25px;
    margin-top: 20px;

    }
                    
.insert-club-title-1.single-club {
    font-size: 40px;
    line-height: 47px;
}

.lorem-ipsum-dolor-1.single-club {
    font-size: 20px;
    line-height: 29px;
}
            