
.INTRO {
    position: relative;
    width: 430px;
    height: 932px;
    background-color: #fcf8f6;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-family: 'Neulis Alt-Regular';
    color: #000;

}

.ur {
    color: #e63a26;
}
.ur-club-at {
    margin: 0;
}
.ru {
    margin: 0;
    color: #e63a26;
}
.ur-club-at-container {
    position: absolute;
    top: calc(50% - 187px);
    left: calc(50% - 113px);
    font-size: 94.17px;
    letter-spacing: -0.02em;
    line-height: 80px;
    font-weight: 500;
    display: inline-block;
    width: 226px;
}
.find-a-rutgers {
    position: absolute;
    top: 653px;
    left: calc(50% - 136px);
    letter-spacing: -0.01em;
    font-weight: 500;
    display: inline-block;
    width: 273px;
    height: 51px;
}
.take-the-quiz {
    position: relative;
    letter-spacing: 0.01em;
    font-weight: 500;
}
.rivet-iconsarrow-up {
    width: 18px;
    position: relative;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
}
.take-the-quiz-parent {
    position: absolute;
    top: 744px;
    left: calc(50% - 109.5px);
    border-radius: 100px;
    background-color: #000;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 35px;
    box-sizing: border-box;
    gap: 9px;
    cursor: pointer;
    color: #fff;
}
.intro-1-child {
    position: absolute;
    top: 466px;
    left: -10px;
    width: 128.9px;
    height: 142px;
    object-fit: contain;
}
.frame-child {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 23.9px;
    flex-shrink: 0;
}
.dd {
    align-self: stretch;
    position: relative;
    line-height: 14.96px;
}
.frame-parent {
    position: absolute;
    top: 859px;
    left: calc(50% - 38px);
    width: 76.8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0px 22.3px;
    box-sizing: border-box;
    gap: 3.2px;
    text-align: left;
    font-size: 14.72px;
    font-family: 'Neulis Alt';
}
.summertime-sadness-icon {
    position: absolute;
    top: 98px;
    left: -59px;
    width: 200px;
    height: 200px;
    object-fit: contain;
    color: black;
    transform: rotate(15deg);
}
.x-1-icon {
    position: absolute;
    top: 430px;
    left: 282px;
    width: 340.86px;
    height: 227.76px;
        object-fit: contain;
    margin-left: -40px;
}
.vector-icon {
    position: absolute;
    height: 11.9%;
    width: 25.79%;
    top: 23.71%;
    right: 3.51%;
    bottom: 64.39%;
    left: 70.7%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.intro-1 {
    width: 100%;
    position: relative;
    background-color: #fcf8f6;
    height: 932px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-family: Gordita;
}

.your-club-at-ru {
    color: black;
}