.INTRO {
    position: relative;
    width: 430px;
    height: 932px;
    background-color: #fcf8f6;
}

.INTRO .frame {
    position: relative;
    width: 313.72px;
    height: 335.62px;
}

.INTRO .overlap {
    position: relative;
    width: 314px;
    height: 336px;
}

.INTRO .overlap-group-wrapper {
    position: absolute;
    width: 193px;
    height: 138px;
    top: 191px;
    left: 5px;
    transform: rotate(-4.31deg);
}

.INTRO .overlap-group {
    position: relative;
    width: 217px;
    height: 217px;
    top: -40px;
    left: -12px;
}

.UR-club-instagram {
    position: absolute;
    width: 202px;
    height: 202px;
    top: 7px;
    left: 7px;
    transform: rotate(4.31deg);
    object-fit: cover;
}

.INTRO .text-wrapper {
    position: absolute;
    width: 66px;
    top: 64px;
    left: 69px;
    transform: rotate(-9.36deg);
    font-family: "Neulis-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20.3px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.UR-club-at-instagram {
    position: absolute;
    width: 202px;
    height: 194px;
    top: 37px;
    left: 112px;
    object-fit: cover;
}

.INTRO .lucide-sparkle {
    position: absolute;
    width: 108px;
    height: 108px;
    top: 0;
    left: 10px;
}

.INTRO .ur-club-at-ru-wrapper {
    position: relative;
    width: 303px;
    height: 140px;
}

.INTRO .ur-club-at-ru {
    position: absolute;
    width: 303px;
    top: -1px;
    left: 0;
    font-family: "Neulis Alt-SemiBold", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 80px;
    letter-spacing: 0;
    line-height: 70px;
}

.INTRO .span {
    font-weight: 600;
    color: #e63a26;
}

.INTRO .text-wrapper-2 {
    font-family: "Neulis-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
}

.INTRO .div {
    position: relative;
    width: 273px;
    font-family: "Neulis Alt-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20.3px;
    letter-spacing: 0;
    line-height: normal;
}

.INTRO .frame-2 {
    display: inline-flex;
    height: 55px;
    align-items: center;
    gap: 9px;
    padding: 15px 35px;
    position: relative;
    background-color: #000000;
    border-radius: 10px;
    overflow: hidden;
}

.INTRO .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -2px;
    font-family: "Neulis Alt-Regular", Helvetica;
    font-weight: 400;
    font-size: 20.3px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.INTRO .rivet-icons-arrow-up {
    position: relative;
    width: 18.04px;
    height: 18.04px;
}
