.INTRO {
    position: relative;
    width: 430px;
    height: 932px;
    background-color: #fcf8f6;
}

.INTRO .frame {
    display: flex;
    width: 147px;
    height: 55px;
    align-items: center;
    justify-content: center;
    gap: 9px;
    padding: 15px 35px;
    position: absolute;
    top: 374px;
    left: 44px;
    background-color: #000000;
    border-radius: 100px;
    overflow: hidden;
    cursor: pointer;
}

.INTRO .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -2px;
    font-family: "Neulis Alt-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20.3px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.INTRO .rivet-icons-arrow-up {
    position: relative;
    width: 18.04px;
    height: 18.04px;
}

.INTRO .div {
    position: absolute;
    width: 293px;
    top: 117px;
    left: 44px;
    font-family: "Neulis Alt-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 39px;
}

.INTRO .made-simpler-faster {
    position: absolute;
    width: 318px;
    top: 214px;
    left: 44px;
    font-family: "Neulis Alt-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 39px;
}

.INTRO .span {
    color: #000000;
}

.INTRO .text-wrapper-2 {
    color: #e63a26;
}

.INTRO .pills {
    position: absolute;
    width: 430px;
    height: 406px;
    top: 526px;
    left: 0;
}
