.ending-10-child {
    position: absolute;
    top: 475px;
    left: 320px;
    width: 349px;
    height: 0px;
}
.next {
    position: relative;
    line-height: 39px;
    font-weight: 600;
}
.next-wrapper {
    position: absolute;
    top: 802px;
    left: calc(50% - 113px);
    border-radius: 100px;
    width: 226px;
    height: 73px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 34px;
    box-sizing: border-box;
    background-color: #000;
}
.frame-child {
    position: absolute;
    top: 1px;
    left: 0px;
    width: 430px;
    height: 731px;
    object-fit: cover;
}
.div {
    position: absolute;
    top: 19px;
    left: 152px;
    letter-spacing: 0.04em;
    line-height: 192.85px;
    font-weight: 600;
}
.insert-club-title {
    position: absolute;
    top: 19.75px;
    left: 0px;
    letter-spacing: 0.04em;
    line-height: 47px;
    font-weight: 600;
    display: inline-block;
    width: 400px;
    height: fit-content;

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    text-overflow: ellipsis;

}
.insert-club-title-here-loren-i-wrapper {
    position: absolute;
    top: 201px;
    left: calc(50% - 200px);
    width: 400px;
    height: fit-content;
    font-size: 40px;
    color: #fff;
    background-color: black;
}
.urclubatru-designs-wallpaper {
    position: absolute;
    top: 0px;
    left: 259px;
    width: 108px;
    height: 116px;
    object-fit: cover;
}
.lorem-ipsum-dolor {
    width: 335px;
    position: relative;
    letter-spacing: 0.04em;
    line-height: 29px;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;

    
}
.lorem-ipsum-dolor-sit-amet-co-wrapper {
    position: absolute;
    margin-top: 20px;

    left: calc(50% - 176px);
    width: 352px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    box-sizing: border-box;
}
.frame-wrapper {
    position: absolute;
    top: 391px;
    left: calc(50% - 176px);
    width: 352px;
    height: 87px;
    font-size: 20px;
    color: #000;
}
.rectangle {
    position: absolute;
    top: 91px;
    left: 23.32px;
    border-radius: 6.72px;
    background-color: #fcf8f6;
    width: 69.2px;
    height: 69.2px;
    transform:  rotate(19.7deg);
    transform-origin: 0 0;
}
.parent {
    position: absolute;
    top: 90px;
    left: 25px;
    width: 380px;
    height: 478px;
}
.frame-parent {
    position: absolute;
    top: 34px;
    left: calc(50% - 215px);
    width: 430px;
    height: 732px;
    overflow: hidden;
    font-size: 130px;
    color: #fcf8f6;
}
.ending-10 {
    width: 100%;
    position: relative;
    background-color: #fcf8f6;
    height: 932px;
    overflow: hidden;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: 'Neulis Alt-Regular';
}



.insert-club-title {
    position: relative;
    top: 19.75px;
    left: 0px;
    letter-spacing: 0.04em;
    line-height: 47px;
    font-weight: 600;
    display: inline-block;
    width: 400px;
    height: auto;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 40px;
    margin-bottom: 25px;

}
.insert-club-title-here-loren-i-wrapper {
    position: relative;
    top: 325px;
    left: calc(50% - 200px);
    width: 450px;
    height: auto;
    font-size: 40px;
}
.lorem-ipsum-dolor {
    width: 400px;
    font-size: 20px;
    color: #000;

    position: relative;
    letter-spacing: 0.04em;
    line-height: 29px;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;

}
.lorem-ipsum-dolor-sit-amet-co-wrapper {
    position: relative;
    top: 0px;
    margin-top: 0px;
    left: calc(50% - 200px);
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    box-sizing: border-box;
}

.content-wrapper {
    position: absolute;
    top: 200px;
    left: calc(50%);
    transform: translateX(-50%);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-more-clubs {
    position: relative;
    line-height: 27.92px;
    font-size: 17px;
    }
    .view-more-clubs-wrapper {
    position: absolute;
    top: 810px;
    border-radius: 100px;
    background-color: #000;
    width: 203px;
    height: 55px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 31px;
    box-sizing: border-box;
    left: 26px;
    cursor: pointer;
    }
    .rivet-iconsarrow-up {
    width: 18px;
    position: relative;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
    }
    .finish-parent {
    position: absolute;
    top: 810px;
    left: 266px;
    border-radius: 100px;
    background-color: #000;
    width: 126px;
    height: 55px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    box-sizing: border-box;
    gap: 11px;
    }
.bruh {
    width: 430px;
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%);

}


.next-wrapper {
    position: absolute;
    top: 802px;
    left: calc(50% - 78px);
    border-radius: 100px;
    background-color: #000;
    width: 156px;
    height: 55px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 34px;
    box-sizing: border-box;
    font-family: 'Neulis Alt-Regular';
    font-size: 20.34px;

}
