.cylinder-icon {
    position: absolute;
    top: calc(50% - 446px);
    left: calc(50% - 260px);
    width: 520px;
    height: 752px;
}
.ending-9-child {
    position: absolute;
    top: 475px;
    left: 320px;
    width: 349px;
    height: 0px;
}
.div {
    position: absolute;
    top: 250.75px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    letter-spacing: 0.04em;
    line-height: 192.85px;
    font-weight: 600;
    color: #fcf8f6;
}
.ending-9-inner {
    position: absolute;
    top: 515px;
    left: calc(50% - 176px);
    width: 352px;
    height: 87px;
    font-size: 20px;
    color: #000;
}
.next {
    position: relative;
    line-height: 39px;
    font-weight: 600;
}
.next-wrapper {
    position: absolute;
    top: 802px;
    left: calc(50% - 113px);
    border-radius: 100px;
    background-color: #000;
    width: 226px;
    height: 73px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 34px;
    box-sizing: border-box;
    font-size: 30px;
}
.bookmark-icon {
    position: absolute;
    top: 100px;
    left: 75%;
    border-radius: 7px;
    width: 79px;
    height: 89.2px;
    object-fit: contain;
}
.stairs-1-icon {
    position: absolute;
    top: 86px;
    left: 10%;
    border-radius: 8px;
    width: 114.9px;
    height: 114.9px;
    object-fit: contain;
}
.ending-9 {
    width: 430px;
    position: relative;
    background-color: #fcf8f6;
    height: 932px;
    text-align: center;
    font-size: 130px;
    color: #fff;
    font-family: 'Neulis Alt-Regular';
    overflow: hidden;
    

}

.image-container {
    position: absolute;
    left: 33%;
}




.content-wrapper {
    position: absolute;
    top: 325px;
    left: calc(50%);
    transform: translateX(-50%);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.next-wrapper {
    position: absolute;
    top: 802px;
    left: calc(50% - 78px);
    border-radius: 100px;
    background-color: #000;
    width: 156px;
    height: 55px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 34px;
    box-sizing: border-box;
    font-family: 'Neulis Alt-Regular';
    font-size: 20.34px;

}


.cultural {
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 105.73px;
    display: inline-block;
    width: 358px;
    height: 84px;
    font-family: 'Neulis Alt';
    font-size: 60px;

    }


.insert-club-title-1, .insert-club-title-2 {
    margin-left: 20px;
    width: 355px;
    position: relative;
    font-size: 26.74px;
    letter-spacing: 0.04em;
    line-height: 31.42px;
    font-weight: 600;
    font-family: 'Neulis Alt-Regular';
    color: #fff;
    text-align: left;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;

}
.lorem-ipsum-dolor-1, .lorem-ipsum-dolor-2 {
    margin-left: 20px;

    width: 345px;
    position: relative;
    font-size: 13.37px;
    letter-spacing: 0.04em;
    line-height: 19.39px;
    font-weight: 600;
    font-family: 'Neulis Alt-Regular';
    color: #000;
    text-align: left;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 25px;
    margin-top: 20px;

    }
                    
.insert-club-title-1.single-club {
    font-size: 40px;
    line-height: 47px;
}

.lorem-ipsum-dolor-1.single-club {
    font-size: 20px;
    line-height: 29px;
}
            